out
apache-tomcat
dependencies
logs
statistics
.idea/*
!.idea/runConfigurations/
!.idea/vcs.xml
kotlin.web.demo.backend/compilers/versions/*/js
kotlin.web.demo.backend/compilers/versions/*/kotlin
kotlin.web.demo.backend/compilers/versions/*/executors.policy
*.iml
kotlin.web.demo.server/web/META-INF/context.xml
kotlin.web.demo.executors/executors.policy
kotlin.web.demo.test/resources/executors.policy
kotlin.web.demo.backend/web/META-INF/context.xml
kotlin.web.demo.core/resources
kotlin.web.demo.common/resources/js
kotlin.web.demo.frontend/node
kotlin.web.demo.frontend/node_modules
kotlin.web.demo.frontend/static/lib
kotlin.web.demo.frontend/static/kotlin.js
kotlin.web.demo.frontend/static/kotlin.web.demo.frontend.js
kotlin.web.demo.frontend/static/kotlin.web.demo.frontend.meta.js
kotlin.web.demo.test/resources/js
lib/kotlin-plugin/Kotlin
/kotlin.web.demo.frontend/static/index.js
