out
.idea/*
!.idea/runConfigurations/
!.idea/vcs.xml
*.iml
context.xml
build
kotlin.web.demo.frontend/static/lib
kotlin.web.demo.frontend/node_modules
/kotlin.web.demo.frontend/static/index.js
apache-tomcat
dependencies
logs
statistics
versions/*/js
versions/*/kotlin
versions/*/executors.policy
kotlin.web.demo.executors/executors.policy
kotlin.web.demo.test/resources/executors.policy
kotlin.web.demo.core/resources
kotlin.web.demo.common/resources/js
kotlin.web.demo.frontend/node
kotlin.web.demo.frontend/static/kotlin.js
kotlin.web.demo.frontend/static/kotlin.web.demo.frontend.js
kotlin.web.demo.frontend/static/kotlin.web.demo.frontend.meta.js
kotlin.web.demo.test/resources/js
lib/kotlin-plugin/Kotlin


### Front-end Server Spring ###
/kotlin.web.demo.frontend.server/src/main/resources/application.yml
/kotlin.web.demo.frontend.server/gradle/wrapper/gradle-wrapper.jar
kotlin.web.demo.frontend.server/.idea
kotlin.web.demo.frontend.server/*.iws
kotlin.web.demo.frontend.server/*.iml
kotlin.web.demo.frontend.server/*.ipr
