body { font-family: monospace; font-size: 12px; color: #000000; background-color: #FFFFFF; line-height: 12px;}
.red_wavy_line { background: url(/wavyline-red.gif) repeat-x 100% 100% !important; padding-bottom: 2px;}
.green_wavy_line { background: url(/wavyline-green.gif) repeat-x 100% 100%!important; padding-bottom: 2px;}
.ERROR { color: #ff0000 !important; }
.problemsViewError { color: #ff0000 !important; margin: 0; vertical-align: top; }
.problemsViewError span { vertical-align: top; }
.newLineWarning { color: #C0C0C0 !important; margin: 0; vertical-align: top;}
.newLineWarning span {  vertical-align: top;}
.WARNING { background-color: #f6ebbc !important; }
.lookupElementName  { float: left !important;  }
.lookupElementTail  { float: right !important; padding-left: 20px; margin-right: 5px; }
.lookupElementIcon  { float: left !important; padding-right: 10px;}
.lookupElement  { padding: 0; margin: 0; height: 18px; width: 500px;}
.errorGutter { background: url(/icons/error.png) 100% 100%!important;}
.warningGutter { background: url(/icons/warning.png) 100% 100%!important;}
#compilationResult { white-space: pre; }

.hidden { visibility: hidden; }

.consoleViewError { color: #ff0000 !important; margin: 0; vertical-align: top; }
.consoleViewInfo { color: #0000ff !important; margin: 0; vertical-align: top; }
