body {
    line-height: 1.5;
    padding: 0 1em;
}

h1 {
    letter-spacing: -3px;
    font-size: 3.23em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1.23em;
    font-weight: bold;
    margin: .5em 0;
    letter-spacing: -1px;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: .4em 0;
}

pre {
    background-color: #eee;
    /*-moz-border-radius: 6px;*/
    /*-webkit-border-radius: 6px;*/
    /*border-radius: 6px;*/
    /*padding: 1em;*/
    margin: 0px;
}

pre.code {
    margin: 0 1em;
}

.grey {
    font-size: 2.2em;
    padding: .5em 1em;
    line-height: 1.2em;
    margin-top: .5em;
    position: relative;
}

img.logo {
    position: absolute;
    right: -25px;
    bottom: 4px;
}

a:link, a:visited, .quasilink {
    /*color: #df0019;*/
    cursor: pointer;
    /*text-decoration: none;*/
}

a:hover, .quasilink:hover {
    color: blue;
    /*color: #800004;*/
}

h1 a:link, h1 a:visited, h1 a:hover {
    color: black;
}

ul {
    margin: 0;
    padding-left: 1.2em;
}

a.download {
    color: white;
    background-color: #df0019;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.23em;
    font-weight: bold;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: .5em 0;
    margin-bottom: 1em;
}

a.download:hover {
    background-color: #bb0010;
}

.rel {
    margin-bottom: 0;
}

.rel-note {
    color: #777;
    font-size: .9em;
    margin-top: .1em;
}

.logo-braces {
    color: #df0019;
    position: relative;
    top: -4px;
}

.blk {
    float: left;
}

.left {
    width: 37em;
    padding-right: 6.53em;
    padding-bottom: 1em;
}

.left1 {
    width: 15.24em;
    padding-right: 6.45em;
}

.left2 {
    width: 15.24em;
}

.right {
    width: 20.68em;
}

.leftbig {
    width: 42.44em;
    padding-right: 6.53em;
}

.rightsmall {
    width: 15.24em;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clear {
    height: 1%;
}

.clear {
    display: block;
}

body {
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: 12px;
    /*font-size: 12px;*/
    color: #000000;
    background-color: #FFFFFF;
    /*line-height: 12px;*/
}

.red_wavy_line {
    background: url(/images/wavyline-red.gif) repeat-x 100% 100% !important;
    padding-bottom: 2px;
}

.green_wavy_line {
    background: url(/images/wavyline-green.gif) repeat-x 100% 100% !important;
    padding-bottom: 2px;
}

.ERROR {
    color: #ff0000 !important;
}

.problemsViewError {
    color: #ff0000 !important;
    margin: 0;
    vertical-align: top;
}

.problemsViewError span {
    vertical-align: top;
}

.newLineWarning {
    color: #C0C0C0 !important;
    margin: 0;
    vertical-align: top;
}

.newLineWarning span {
    vertical-align: top;
}

.problemsViewStacktrace {
    margin: 0;
    vertical-align: top;
}

.problemsViewStacktrace span {
    vertical-align: top;
}

.WARNING {
    background-color: #f6ebbc !important;
}

.lookupElementName {
    float: left !important;
}

.lookupElementTail {
    float: right !important;
    padding-left: 20px;
    margin-right: 5px;
}

.lookupElementIcon {
    float: left !important;
    padding-right: 10px;
}

.lookupElement {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 500px;
}

.ERRORgutter {
    background: url(/icons/error.png) no-repeat 95% 95% !important;
    background-size: 13px;
    float: left;
}

.WARNINGgutter {
    background: url(/icons/warning.png) no-repeat 95% 95% !important;
    float: left;
}

#compilationResult {
    white-space: pre;
}

.hidden {
    visibility: hidden;
}

.consoleViewError {
    color: #ff0000 !important;
    margin: 0;
    vertical-align: top;
}

.consoleViewInfo {
    color: #0000ff !important;
    margin: 0;
    vertical-align: top;
}

.ui-accordion-content a:hover {
    color: blue;
    text-decoration: underline;
}

.STACKTRACE {

}

body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#maindiv {
    /*position: absolute;*/
    overflow: auto;
    /*margin: 0;*/
    width: 100%;
    /*width: 1246px;*/
    height: 100%;
    /*height: 790px;*/
    margin: auto;
}

#left, #center, #right {
    display: inline-block;
    overflow-x: auto;
    float: left;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 800px;
    height: 100%;
}

#left {
    width: 20%;
    *width: 230px;
    /*width: 220px;*/
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: 12px;
    /*width: 220px;*/
    /*display: block;*/
    /*float: left;*/
}

#center {
    width: 60%;
    /*width: 800px;*/
    border: 1px solid #EEEEEE;

    /*float: left;*/
    /*display: block;*/
}

#right {
    width: 19%;
    /*width: 220px;*/
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: 12px;
    /*display: block;*/
    /*margin-left: 60%;*/

}

/*#left, #center, #right {
    *//*display: inline;*//*
    *//*float: left;*//*
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 790px;
}

#twolast {
    display: block;
}

#left {
    *//*width: 19%;*//*
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 2px;
    width: 220px;
    display: block;
    float: left;
}

#center {
    width: 60%;
    border: 1px solid #EEEEEE;

    float: left;
    display: block;
}

#right {
    *//*width: 19%;*//*
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    margin-top: 2px;
    display: block;
    margin-left: 60%;

}*/

#editordiv {
    margin: 5px;
    /*height: 460px;*/
    /**height: 470px;*/
}

#editortitle, #argstitle {
    font-weight: bold;
    margin-left: 5px;
}

#editortitle {
    /*float: left;*/
    height: 25px;
}

#editorinput {
    margin: 1px;
}

#editortitle span {
    float: left;
}

#editortitle img {
    margin-top: 3px;
}

#argsdiv {
    margin-top: 5px;
    height: 30px;
}

#argsinput {
    height: 20px;
    resize: none;
}

#arguments {
    height: 20px;
    *heigth: 18px;
    border: 1px solid #eee;
    width: 100%;
    resize: none;
}

#argsbutton {
  margin-top: -10px;
}
#argstitle {
    margin-top: 2px;
}

#argstitleinput {
    width: 90%;
    display: block;
    float: left;
}

#argstitle {
    width: 75px;
}

#argsbutton {
    float: left;
    margin-left: 5px;
}

#argsinput {
    margin-left: 80px;
}

#argstitle {
    width: 75px;
    float: left;
}

#statusbar {
    font-size: 12px;
    color: #C0C0C0;
    height: 20px;
    margin-left: 5px;
}

#consoleandproblems {
    color: #000000;
    background-color: #FFFFFF;
    line-height: 12px;
    /*height: 100px;*/
    margin: 5px;
}

#console a {
    color: blue;
}
#console {
    font-family: monospace;
}
#console, #problems {
    height: 160px;
    overflow-y: auto;
    white-space: pre;
}

.problemsViewError span {
    word-wrap: break-word;
}

#tabs {
    height: 220px;
}

#leftcontent {
    display: block;
    float: left;
    width: 100%;
    /*width: 98%;*/
}

#examplesbutton {
    float: left;

}

#examplesaccordion {
    /*margin-left: 20px;*/
    margin: 5px;
    *width: 220px;
    /*width: 96%;*/
}

#rightcontent {
    display: block;
    float: right;
    /*width: 98%;*/
}

#helpbutton {
    float: right;
}

#helpcontent {
    float: left;
    width: 100%;
}

.ui-widget-content p {
    margin: 5px;
}

.ui-accordion-content {
    padding: 0px 5px 5px 5px !important;
}

.help {
    border: 1px solid #EEEEEE;
    /*height: 189px;*/
    margin: 5px;
    padding: 3px;
    word-wrap: break-word;
    text-align: justify;
    text-align-last: justify;
    /*color: #AAAAAA;*/
}

.help pre {
    word-wrap: break-word;
}

#lefttitle, #centraltitle, #righttitle {
    /*border: 1px solid #EEEEEE;*/
    /*border-radius: 4px;*/
    background-color: #f7f7f7;
    padding-left: 15px;
    font-weight: bold;
    line-height: 12px;
    height: 21px;
}

#centraltitle {
    padding-left: 0px;
    height: 26px;
}

#centraltitle img {
    cursor: pointer;
    padding-top: 3px;
}

#help1 {
    text-align: left !important;
}

.services li.selected {
    background-color: grey;
}

#help3 {
    padding: 3px;
    text-align: left;
}

.helpTitle {
    padding: 5px 10px 0px 10px;
    margin: 0;
}

#lefttitle, #righttitle {
    padding-top: 5px;
}

.selectedExample {
    background-color: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 0 3px;
    /*font-weight: bold;*/
}

#footer {
    text-align: center;
    color: grey;
}

#kotlinlogo {
    width: 63px;
    /*height: 146px;*/
}

#header {
    /*background-color: #5D71B8;*/
    line-height: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

#headertitle {
    width: 50%;
    color: #5D71B8;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
}

#kotlinVersionTop {
    color: #5D71B8;
    font-size: 11px;
    vertical-align: super;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
}

#headerlinks {
    width: 40%;
    text-align: right;
    /*float: right;*/
    padding-right: 30px;
}

#headerlinks a, a:hover {
    /*color: white;*/
    padding-right: 10px;
}

#jetbrainslogo {
    width: 130px;
}

#myapplet {
    width: 0px;
    height: 0px;
}

#loader {
    width: 100%;
    height: 100%;
    /*vertical-align: middle;*/
    text-align: center;
    bottom: 0px;
    position: absolute;
    z-index: 1000;
    /*background: url(/images/ajax-loader.gif) top center no-repeat;*/
}

#loader img {
    padding-top: 300px;
}

.editortitletext {

}
#editortitleswitchtext {
    float: right;
    margin-right: 10px;
}
#editortitletext {
    float: left;
    /*padding-top: 10px;*/
}

#appletonoff {
    float: right;
}

/*On/of button*/
.applet-enable, .applet-disable, .applet-enable span, .applet-disable span {
    background: url(/images/switch2.gif) repeat-x;
    display: block;
    float: left;
}

.applet-enable span, .applet-disable span {
    line-height: 20px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}

.applet-enable span {
    background-position: left -60px;
    padding: 0 10px;
}

.applet-disable span {
    background-position: right -120px;
    padding: 0 10px;
}

.applet-disable.selected {
    background-position: 0 -20px;
}

.applet-disable.selected span {
    background-position: right -140px;
    color: #fff;
}

.applet-enable.selected {
    background-position: 0 -40px;
}

.applet-enable.selected span {
    background-position: left -100px;
    color: #fff;
}

.switch label {
    cursor: pointer;
}

.switch input {
    display: none;
}

#jsonoff {
    float: right;
    padding-left: 10px;
}

/*On/of button*/
.js-enable, .js-disable, .js-enable span, .js-disable span {
    background: url(/images/switch1.gif) repeat-x;
    display: block;
    float: left;
}

.js-enable span, .js-disable span {
    line-height: 20px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}

.js-enable span {
    background-position: left -60px;
    padding: 0 10px;
}

.js-disable span {
    background-position: right -120px;
    padding: 0 10px;
}

.js-disable.selected {
    background-position: 0 -20px;
}

.js-disable.selected span {
    background-position: right -140px;
    color: #fff;
}

.js-enable.selected {
    background-position: 0 -40px;
}

.js-enable.selected span {
    background-position: left -100px;
    color: #fff;
}

