body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#maindiv {
    /*position: absolute;*/
    overflow: auto;
    /*margin: 0;*/
    width: 100%;
    /*width: 1246px;*/
    height: 100%;
    /*height: 790px;*/
    margin: auto;
}

#left, #center, #right {
    display: inline-block;
    overflow-x: auto;
    float: left;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 800px;
    height: 100%;
}

#left {
    width: 20%;
    *width: 230px;
    /*width: 220px;*/
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    /*width: 220px;*/
    /*display: block;*/
    /*float: left;*/
}

#center {
    width: 60%;
    /*width: 800px;*/
    border: 1px solid #EEEEEE;

    /*float: left;*/
    /*display: block;*/
}

#right {
    width: 19%;
    /*width: 220px;*/
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    /*display: block;*/
    /*margin-left: 60%;*/

}

/*#left, #center, #right {
    *//*display: inline;*//*
    *//*float: left;*//*
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 790px;
}

#twolast {
    display: block;
}

#left {
    *//*width: 19%;*//*
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 2px;
    width: 220px;
    display: block;
    float: left;
}

#center {
    width: 60%;
    border: 1px solid #EEEEEE;

    float: left;
    display: block;
}

#right {
    *//*width: 19%;*//*
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    margin-top: 2px;
    display: block;
    margin-left: 60%;

}*/

#editordiv {
    margin: 5px;
    /*height: 460px;*/
    /**height: 470px;*/
}

#editortitle, #argstitle {
    font-weight: bold;
    margin-left: 5px;
}

#editortitle {
    /*float: left;*/
}

#editorinput {
    margin: 1px;
}

#editortitle span {
    float: left;
}

#editortitle img {
    margin-top: 3px;
}

#argsdiv {
    margin-top: 5px;
    height: 30px;
}

#argsinput {
    height: 20px;
    resize: none;
}

#arguments {
    height: 20px;
    *heigth: 18px;
    border: 1px solid #eee;
    width: 100%;
    resize: none;
}

#argstitle, #argsbutton {
    margin-top: 2px;
}

#argstitleinput {
    width: 95%;
    display: block;
    float: left;
}

#argstitle {
    width: 75px;
}

#argsbutton {
    float: left;
    margin-left: 5px;
}

#argsinput {
    margin-left: 80px;
}

#argstitle {
    width: 75px;
    float: left;
}

#statusbar {
    font-size: 12px;
    color: #C0C0C0;
    height: 20px;
    margin-left: 5px;
}

#consoleandproblems {
    font-family: monospace;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 12px;
    /*height: 100px;*/
    margin: 5px;
}

#console, #problems {
    height: 160px;
    overflow-y: auto;
}

.problemsViewError span {
    word-wrap: break-word;
}

#tabs {
    height: 220px;
}

#leftcontent {
    display: block;
    float: left;
    /*width: 98%;*/
}

#examplesbutton {
    float: left;

}

#examplesaccordion {
    /*margin-left: 20px;*/
    margin: 5px;
    *width: 220px;
}

#rightcontent {
    display: block;
    float: right;
    /*width: 98%;*/
}

#helpbutton {
    float: right;
}

#helpcontent {
    float: left;
    width: 100%;
}

.ui-widget-content p {
    margin: 5px;
}

.ui-accordion-content {
    padding: 0px 5px 5px 5px !important;
}

.help {
    border: 1px solid #EEEEEE;
    /*height: 189px;*/
    margin: 5px;
    padding: 3px;
    word-wrap: break-word;
    text-align: justify;
    text-align-last: justify;
    /*color: #AAAAAA;*/
}

.help pre {
    word-wrap: break-word;
}

#lefttitle, #centraltitle, #righttitle {
    /*border: 1px solid #EEEEEE;*/
    /*border-radius: 4px;*/
    background-color: #f7f7f7;
    padding-left: 15px;
    font-weight: bold;
    line-height: 12px;
    height: 21px;
}

#centraltitle {
    padding-left: 0px;
}

#centraltitle img {
    cursor: pointer;
}

#help1 {
    text-align: left !important;
}

.services li.selected {
    background-color: grey;
}

#help3 {
    padding: 10px;
}

.helpTitle {
    padding: 5px 10px 0px 10px;
    margin: 0;
}

#lefttitle, #righttitle {
    padding-top: 5px;
}

.selectedExample {
    background-color: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 0 3px;
    /*font-weight: bold;*/
}

#footer {
    text-align: center;
    color: grey;
}

#kotlinlogo {
    width: 63px;
    /*height: 146px;*/
}

#header {
    /*background-color: #5D71B8;*/
    line-height: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

#headertitle {
    width: 50%;
    color: #5D71B8;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
}

#kotlinVersionTop {
    color: #5D71B8;
    font-size: 11px;
    vertical-align: super;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
}

#headerlinks {
    width: 40%;
    text-align: right;
    /*float: right;*/
    padding-right: 30px;
}

#headerlinks a, a:hover {
    /*color: white;*/
}

#jetbrainslogo {
    width: 130px;
}


