body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#maindiv {
    /*position: absolute;*/
    overflow: auto;
    /*margin: 0;*/
    /*width: 100%;*/
    width: 1246px;
    height: 100%;
    /*height: 790px;*/
    margin: auto;
}
#left, #center, #right {
    display: inline-block;
    overflow-x: auto;
    float: left;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 780px;
}

#left {
    /*width: 19%;*/
    width: 220px;
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    /*width: 220px;*/
    /*display: block;*/
    /*float: left;*/
}

#center {
    /*width: 60%;*/
    width: 800px;
    border: 1px solid #EEEEEE;

    /*float: left;*/
    /*display: block;*/
}

#right {
    /*width: 19%;*/
    width: 220px;
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    /*display: block;*/
    /*margin-left: 60%;*/

}

/*#left, #center, #right {
    *//*display: inline;*//*
    *//*float: left;*//*
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 790px;
}

#twolast {
    display: block;
}

#left {
    *//*width: 19%;*//*
    margin-left: 1px;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 2px;
    width: 220px;
    display: block;
    float: left;
}

#center {
    width: 60%;
    border: 1px solid #EEEEEE;

    float: left;
    display: block;
}

#right {
    *//*width: 19%;*//*
    margin-right: 1px;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    margin-top: 2px;
    display: block;
    margin-left: 60%;

}*/

#editordiv {
    height: 460px;
    *height: 470px;
}

#editortitle, #argstitle {
    font-weight: bold;
    margin-left: 5px;
}

#editorinput {
    margin: 1px;
}

#argsdiv {
    margin-top: 5px;
    height: 30px;
}

#argsinput {
    height: 20px;
    resize: none;
}

#arguments {
    height: 20px;
    *heigth: 18px;
    border: 1px solid #eee;
    width: 100%;
    resize: none;
}

#argstitle, #argsbutton {
    margin-top: 2px;
}

#argstitleinput {
    width: 95%;
    display: block;
    float: left;
}

#argstitle {
    width: 75px;
}

#argsbutton {
    float: left;
    margin-left: 5px;
}

#argsinput {
    margin-left: 80px;
}

#argstitle {
    width: 75px;
    float: left;
}

#statusbar {
    font-size: 12px;
    color: #C0C0C0;
    height: 20px;
    margin-left: 5px;
}

#consoleandproblems {
    font-family: monospace;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 12px;
    height: 100px;
    margin: 2px;
}

#console, #problems {
    height: 190px;
    overflow-y: auto;
}

#tabs {
    height: 250px;
}

#leftcontent {
    display: block;
    float: left;
    width: 98%;
}

#examplesbutton {
    float: left;

}

#examplesaccordion {
    margin-left: 20px;
}

#rightcontent {
    display: block;
    /*float: right;*/
    /*width: 98%;*/
}

#helpbutton {
    float: right;
}

#helpcontent {
    margin-right: 20px;
    float: left;
}


