body { font-family: monospace; font-size: 12px; color: #000000; background-color: #FFFFFF; line-height: 12px;}
.red_wavy_line {background: url(/wavyline-red.gif) repeat-x 100% 100% !important; padding-bottom: 2px;}
.green_wavy_line {background: url(/wavyline-green.gif) repeat-x 100% 100%!important; padding-bottom: 2px;}
.ERROR {color: #ff0000 !important; }
.WARNING {background-color: #f6ebbc !important; }
.lookupElementName  { float: left !important;  }
.lookupElementTail  { float: right !important; padding-left: 20px;}
.lookupElementIcon  { float: left !important; padding-right: 10px;}
.lookupElement  { padding: 0; margin: 0; height: 18px; width: 500px;}
.errorGutter {background: url(/icons/error.png) 100% 100%!important;}
.warningGutter {background: url(/icons/warning.png) 100% 100%!important;}

