<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>KotlinHttpServlet Application</display-name>
    <description>

    </description>

    <servlet>
        <servlet-name>KotlinHttpServlet</servlet-name>
        <servlet-class>org.jetbrains.webdemo.servlet.KotlinHttpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>org.jetbrains.webdemo.servlet.AuthorizationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TwitterServlet</servlet-name>
        <servlet-class>org.jetbrains.webdemo.servlet.TwitterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KotlinHttpServlet</servlet-name>
        <url-pattern>/kotlinServer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
        <url-pattern>/verify/*</url-pattern>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TwitterServlet</servlet-name>
        <url-pattern>/twitter/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>20000</session-timeout>
    </session-config>


</web-app>
